{% extends 'index.html' %}
{% load static %}
{% load cache %}

{% block title %}

{% endblock %}

{% block content %}
<div style="display:inline-block; padding:20px;margin:20px; box-shadow: 0 0 5px">
    <ul>
        <li><h3>{{item.title}}</h3></li>
        <li><img src="{{item.image.url }}" width="220px" height="150px"></li>
        <li><small>description</small> {{item.description}}</li>
        <li><small>price</small> ${{item.price}}</li>
        <li><small>category</small> {{item.category}}</li>
    </ul>
</div>
{% endblock %}