{% extends 'index.html' %}
{% load static  %}
{% load cache %}

{% block title %}Invalid Activation{% endblock %}
{% block content %}

<div>

</div>

{% block title %}Invalide Activation{% endblock %}
{% block content %}
 <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Ошибка подтверждения аккаунта
          </h1>
        </div>
      </div>
    </div>
    <div class="Section">
      <div class="wrap">
        <div class="form Payment">
          <div class="Payment-card">
            <div class="form-group">
              <label class="ProductCard-title">Error
              <p>Пожалуйста свяжитесь с нашей командой тех.поддержки</p>
              </label>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}