{% extends 'index.html' %}
{% load static  %}
{% load cache %}
{% load humanize %}
{% block title %}

{% endblock %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Корзина</h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item">
                        <a href="index.html">home</a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current">
                        <span>Корзина</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--    CACHE CART ORDER-->

    <div class="Section">
        <div class="wrap">
            <form class="form Cart" action="" method="post">
                {% csrf_token %}

                {% for item in cart.items.all %}
                <div class="Cart-product">
                    <div class="Cart-block Cart-block_row">
                        <div class="Cart-block Cart-block_pict">
                            <a class="Cart-pict" href="{% url 'app_item:item_detail' item.item.pk %}">
                                <img class="Cart-img" src="{{ item.item.image.url }}" alt="card.jpg"/>
                            </a>
                        </div>
                        <div class="Cart-block Cart-block_info">
                            <a class="Cart-title" href="{% url 'app_item:item_detail' item.item.pk %}">
                                {{ item.item.title }}</a>
                            <div class="Cart-desc">{% if item.item.description %}{{ item.item.description }}{% endif %}
                            </div>
                        </div>
                        <div class="Cart-block Cart-block_price">
                            <div class="Cart-price" data-value="{{ item.total_price }}">${{ item.total_price }}</div>
                        </div>
                    </div>
                    <div class="Cart-block Cart-block_row">
                        <div class="Cart-block Cart-block_seller">
                            <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->

                        </div>

                        <!--    Добавление или удаление единиц товара  -->
                        <div class="Cart-block Cart-block_amount">
                            <div class="Cart-amount">
                                <div class="Amount">
                                    <button class="Amount-remove" type="button"></button>
                                    <input class="Amount-input form-input" name="amount" type="text"
                                           value="{{item.quantity}}"/>
                                    <button class="Amount-add" type="button"></button>
                                </div>
                            </div>
                        </div>
                        <!--    Добавление или удаление единиц товара     -->

                        <div class="Cart-block Cart-block_delete">
                            <a class="Cart-delete" href="{% url 'app_cart:remove_cart' item.item.pk  %}">
                                <img src="/assets/img/icons/card/delete.svg" alt="delete.svg"/>
                            </a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="Middle Middle_top">
                    <div class="Section">
                        <div class="wrap">
                            <div class="ProgressPayment">
                                <div class="ProgressPayment-title">Ваша корзина пуста</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <!-- TOTAL SUM AND TOTAL QUANTITY OF THE CART -->
                {% if cart.items.count > 0 %}
                <div class="Cart-total">
                    <div class="Cart-block Cart-block_total">
                        <strong class="Cart-title">Итого:</strong>
                        <span class="Cart-total-price" data-value="{{ cart.get_total_price }} ">{{cart.get_total_price }}$</span>
                        &#160;&#160;&#160;&#160;
                        <strong class="Cart-title">Количество товаров:</strong>
                        <span class="Cart-total-quantity Cart-total-price">{{cart.get_total_quantity}}</span>
                    </div>
                    <div class="Cart-block">
                        <!-- <a class="btn btn_success btn_lg" href="order.html" onclick="alert('заказ оформлен')">Оформить заказ</a>-->
                        <!--                        <div class="btn btn_success btn_lg js-button-campaign"><span>Оформить заказ</span></div>-->

                        {% if cart.items.all %}
                        <a href="#openModal" class="btn btn_success btn_lg ">
                             <span>Оформить заказ</span>
                        </a>
                        {% else %}
                         <a href="{% url 'main_page'  %}" class="btn btn_success btn_lg js-button-campaign">
                               <span>Вернуться к покупкам</span></a>
                        {% endif %}



<!--    MODAL   -->
<div id="openModal" class="modal-my">
    <div class="modal-dialog-my">
        <div class="modal-content-my">
            <div class="modal-header-my">
                <h2 class="modal-title-my">Оформить заказ</h2>
                <a href="#close" title="Close" class="close-my">×</a>
            </div>
            <div class="modal-body-my">
                    {% for item in cart.items.all|slice:":5" %}
                    <div style="display:inline;  margin:10px;">
                        <img src="{{item.item.image.url}}" width="80" height="80px"
                             style="border-radius: 12px; box-shadow: 0 0 6px; padding: 5px">
                    {% endfor %}
            </div>
            <div class="modal-body-my modal-price-my">
                <strong class="Cart-title">Итого:</strong>
                <span class="Cart-total-price" data-value="{{ cart.get_total_price }} ">
                    {{cart.get_total_price }}$</span>
            </div>
            </div>
            <div class="modal-footer-my">
                <a href="{% url 'app_order:order_create'  %}" class="btn  btn_primary btn_full">
                    <span>Оформить заказ</span></a>
            </div>
        </div>
    </div>
</div>
<!--    MODAL   -->

                    </div>
                </div>
                <!-- TOTAL SUM AND TOTAL QUANTITY OF THE CART END-->

                {% endif %}
            </form>
        </div>
    </div>

    <!--    END CACHE CART ORDER -->

</div>


{% endblock %}
